<div>
    <div style="display:inline-block">
        <h2>Acrobatics: {{DEXmod}}</h2>
        <h2>Animal Handling: {{WISmod}}</h2>
        <h2>Arcana: {{INTmod}}</h2>
        <h2>Athletics: {{STRmod}}</h2>
        <h2>Deception: {{CHAmod}}</h2>
        <h2>History: {{INTmod}}</h2>
        <h2>Insight: {{WISmod}}</h2>
        <h2>Intimidation: {{CHAmod}}</h2>
        <h2>Investigation: {{INTmod}}</h2>
    </div>
    <div style="display:inline-block">
        <h2>Medicine: {{WISmod}}</h2>
        <h2>Nature: {{INTmod}}</h2>
        <h2>Perception: {{WISmod}}</h2>
        <h2>Performance: {{CHAmod}}</h2>
        <h2>Persuasion: {{CHAmod}}</h2>
        <h2>Religion: {{INTmod}}</h2>
        <h2>Sleight of Hand: {{DEXmod}}</h2>
        <h2>Stealth: {{DEXmod}}</h2>
        <h2>Survival: {{WISmod}}</h2>
    </div>
</div>