<mat-grid-list cols="12" rowHeight="1vh">
    <mat-grid-tile [colspan]="6" [rowspan]="35">
        <app-stat-block></app-stat-block>
    </mat-grid-tile>
    <mat-grid-tile id="skills" [colspan]="6" [rowspan]="75">
        <app-skills></app-skills>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="40">
        <div>
            <h2>Level: 1</h2>
            <h2>Proficiency: 2</h2>
            <h2>Race: {{race.name}}</h2>
            <h2>Class: </h2>
        </div>
    </mat-grid-tile>
    <!-- <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile> -->
</mat-grid-list>


<router-outlet></router-outlet>